* {
  box-sizing: border-box;
}

:root {
  --general-margin: 30px;
  --general-padding: 10px;
  --background-color: #011c39;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Segoe UI';
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding-top: 70px;
}

img {
  max-width: 100%;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
  background-image: url('https://picsum.photos/400/200');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main article {
  margin: var(--general-margin);
  padding: var(--general-padding);
}

main article p {
  padding: var(--general-padding);
}

.container h1,
.container h2,
.container h3 {
  text-align: center;
  margin: var(--general-margin);
}

aside {
  margin-bottom: 20px;
}

aside article {
  margin: var(--general-margin);
  border: 1px solid black;
  padding: var(--general-padding);
}

footer {
  padding: var(--general-margin) 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  align-items: center;
  column-gap: 60px;
  background-color: var(--background-color);
  color: white;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: red;
  text-decoration: underline;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  footer {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .container {
    padding-bottom: calc(200px);
  }

  footer {
    position: fixed;
    bottom: 0;
    height: 200px;
  }
}
